body{
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 226);   
}
.fundo{
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0,0,0,.5)), url(../img/bg.png) no-repeat;
    display: flex;
    justify-content: center;
    background-attachment: fixed; 
}
.info-box{
    display: flex;
    padding: 12px;
}
.container-perfil{
    background-color: white;
    position: relative;
    top: 260px;
    width: 80%;
}
.apresentacao{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#perfil{
    position: relative;
    display: flex;
    margin: 45px;
    padding: 0;
    width: 300px;
    height: 300px; 
    background: url(../img/pp.jpg);
    background-size: cover;
    border: 2px solid white;
    border-radius: 50%;
    backface-visibility: visible;
}
#perfil:hover{
    box-shadow: 0px 0px 15px 2px rgb(19, 230, 159);
}
h2{
    font-family: sans-serif;
}
.name{
    color: #0EB57D;
}
.lista-info{
    display: flex;
}
ul li{
    margin-top: 20px;
}
#info{
    font-weight: 700;
    margin-right: 15px;
}
.midia{
    position: relative;
    top: 20px;
}
.logoBox{
    display: flex;
    background-color: #0EB57D;
    justify-content: space-between;
    padding: 0 15px;
}
.logoBox a{
    display: flex;
    justify-content: center;
    margin: 2px 0px;
    width: 50px;
}
.logoBox a:hover{
    
    background-color: white;
    transition: .9s; 
    border-radius: 50%;

}
.logoBox .logo i{
    margin: 10px 0px;
    color: white;
}
.logoBox a:hover .logo i{
    color: #0EB57D;
    transition: .8s;
}
@media(max-width:850px){
    .info-box{
        display: flex;
        flex-direction: column;
    }
    #perfil{
        max-width: 75%;
        height: 235px;
        
    }
}